body {
  background-color: #2a6682;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  margin: 0;
  
  text-align: center;
}
.unlist {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #173F5F;
}
.listelement {
  float: left;
  color: yellow;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.ToDoItem{
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 30%;
  align-items: center;
  background-color: rgb(181, 241, 91, 0.9);
  border: 3px solid rgb(215, 245, 176);
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
}

.ToDoList{
  margin: auto;
  margin-top: 2%;
  padding: 30px;
  border: transparent;
  border-radius: 10px;
  width: 65%;
  background-color: #3CAEA3;
  box-shadow: 0 3px 3px rgb(51, 51, 51);
}

.footer{
  text-align: center;
  align-items: center;
  color: gray;
}

.addButton {
  text-align: center;
  margin: 5px auto;
  align-items: center;
  background-color: rgb(100, 200, 250);
  border: 3px solid rgb(100, 150, 250);
  border-radius: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}